html,
body {
  margin: 10px;
  padding: 10px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid black;
  margin-right:0px;
}
h1{
  margin-top: 5px;
}
.grid div {
  width: 15px;
  height: 15px;;
}

.pac-dot{
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}
.wall{
  background-color: blue;

}
.power-pellet{
  background-color: green;
  border-radius: 7.5px;
}
.ghost-lair{
  background-color: red;
  border-radius: 7.5px;
}
.pacman{
  background-color: orange;
  border-radius: 7.5px;
  border: none;
}

.blinky{
  background-color: red;
  border: none;

}
.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color:aqua;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}
.scared-ghost{
  background-color:black;
  border:none

}
.arrow__container{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  width: 420px;
  margin-top:0px;
 

}
.arrow__up{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  font-size: xx-large;
  width: 420px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 20px;
}
.arrow__down{
  font-size: xx-large;
}
.arrow__left{
  font-size: xx-large;
}

.arrow__right{
  font-size: xx-large;
}
